@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.main-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  box-sizing: border-box;
}

.main-link:hover {
  opacity: 0.6;
}

.main-link:active {
  opacity: 0.3;
}

.main-link:focus {
  outline: 2px solid #AF4FFF;
}

.navigation {
  width: 1040px;
  margin: 0 auto;
  position: relative;
  padding: 60px;
  padding-bottom: 0;
}

.main-logo {
  position: absolute;
  top: -20px;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 500px;
}

.navigation-user-item:first-child {
  margin-right: auto;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link:focus {
  outline: 2px solid #AF4FFF;
}

.login-link {
  padding-left: 26px;
  background-image: url(../images/user-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 13px 12px;
}

.compare-link {
  padding-left: 22px;
  background-image: url(../images/compare-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 10px 12px;
}

.cart-link {
  padding-left: 49px;
  background-image: url(../images/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 16px 14px;
}

.cart-counter {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  min-width: 21px;
  min-height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 3px;
}

.navigation-user-item {
  padding-right: 36px;
}

.navigation-user-item:last-child {
  padding-right: 0;
  position: relative;
}

.search {
  width: 517px;
}

.header-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 1040px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  list-style: none;
}

.header-catalog {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navigation-item:first-child {
  width: 315px;
  margin-right: auto;
  padding-left: 0
}

.catalog-list-link {
  padding: 15px 70px 15px 0;
  position: relative;
}

.catalog-list-link:hover {
  opacity: 1;
}

.catalog-list-link:active {
  opacity: 1;
}

.catalog-list-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 243px;
  width: 50px;
  height: 50px;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.catalog-list-link:hover::after {
  opacity: 0.6;
}

.catalog-list-link:active::after {
  opacity: 0.3;
}

.header-navigation-item {
  padding: 15px 0;
  padding-left: 45px;
}

.inner-page {
  color: #000000;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #ffe17f;
  color: #000000;
}

.navigation-user-link {
  color: inherit;
  text-decoration: none;
}

.header-catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.products-slider-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.slider-number {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  display: block;
  background-color: #ffe17f;
  width: 100%;
  padding: 52px 50px 40px;
  text-align: right;
  margin-bottom: -78px;
}

.products-img {
  margin-top: -70px;
}

.main-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.products-slider {
  margin-bottom: 108px;
  position: relative;
}

.products-slider-title {
  margin-bottom: 29px;
}

.products-slider-text {
  margin-top: 0;
  margin-bottom: 51px;
}

.button-detail {
  margin-bottom: 49px;
  padding: 10px 5px;
  width: 220px;
  text-align: center;
  position: relative;
}

.button-detail::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  z-index: -1;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
}

.button-detail:hover {
  opacity: 1;
  background-color: #FFE17F;
}

.button-detail:active {
  opacity: 1;
  background-color: #FFCC33;
}

.products-advantages {
  text-align: left;
  margin-right: auto;
}

.products-advantages th {
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  padding-right: 60px;
  padding-bottom: 12px;
}

.products-advantages td {
  font-size: 16px;
}

.products-slider-button {
  width: 20px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-prev {
  background-image: url("../images/arrow-left.svg");
  position: absolute;
  top: 190px;
  left: 30px;
}

.slider-next {
  background-image: url("../images/arrow-right.svg");
  position: absolute;
  top: 190px;
  left: 540px;
}

.products-slider-button:hover {
  opacity: 0.6;
}

.products-slider-button:active {
  opacity: 0.3;
}

.products-slider-button[disabled] {
  opacity: 0.1;
  cursor: default;
}

.products-pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 335px;
  right: 0;
}

.products-pagination-item {
  padding-right: 20px;
}

.products-pagination-item:last-child {
  padding-right: 0;
}

.slider-pagination-button {
  width: 16px;
  height: 16px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  background-image: url("../images/slider-not-active.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-pagination-button-current {
  background-image: url("../images/slider-active.svg");

}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: 2px solid #AF4FFF;
}

.main-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  gap: 40px;
  margin-bottom: 70px;
}

.catalog-img-wrapper {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
}

.main-catalog-item:nth-child(2) .catalog-img-wrapper {
  align-items: flex-end;
}

.main-catalog-item p {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

.main-catalog-link {
  text-decoration: none;
  display: block;
}

.main-catalog-link:hover > div {
  background-color: #FFC700;
}

.main-catalog-link:active {
  opacity: 0.3;
}

.main-catalog-link:focus {
  outline: 2px solid #AF4FFF;
}

.services-slider-button {
  padding: 10px;
  width: 160px;
  text-align: center;
  margin-bottom: 35px;
  box-sizing: border-box;
  position: relative;
  background-color: none;
  border: none;
}

.services-slider-button::after  {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
}

.services-slider-button span {
  position: relative;
  z-index: 1;
}

.services-slider-button.services-slider-active {
  color: #FFE17F;
  background-color: #000000;
  width: 100%;
  text-align: left;
  padding-left: 15px;
}

.services-slider-button.services-slider-active::after {
  display: none;
}

.services {
  background-color: #f0f0f0;
  margin-bottom: 70px;
}

.services::before {
  content: "";
  background-color: #ffffff;
  width: 100%;
  height: 102px;
  position: absolute;
}

.services-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  position: relative;
  z-index: 1;
  padding-bottom: 72px;
}

.services-slider-list {
  width: 287px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 60px;
  border-right: 7px solid #000000;
}

.services-list {
  margin: 0;
  margin-left: 116px;
  padding: 0;
  list-style: none;
  position: relative;
}

.services-item h3 {
  margin-top: 72px;
  margin-bottom: 34px;
}

.services-item p {
  margin: 0;
  padding-bottom: 72px;
}

.services-item-delivery {
  width: 450px;
}

.services-item-delivery::after {
  content: "";
  position: absolute;
  top: 77px;
  left: 600px;
  width: 136px;
  height: 164px;
  background-image: url("../images/delivery-slider.svg");
  background-repeat: no-repeat;
  background-size: 136px 164px;
}

.services-item-warranty,
.services-item-credit {
  width: 475px;
}
.services-item-warranty::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 600px;
  width: 171px;
  height: 195px;
  background-image: url("../images/warranty-slider.svg");
  background-repeat: no-repeat;
  background-size: 171px 195px;
  background-position: right center;
}

.services-item-credit::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 600px;
  width: 156px;
  height: 188px;
  background-image: url("../images/credit-slider.svg");
  background-repeat: no-repeat;
  background-size: 156px 188px;
  background-position: right center;
}

.delivery {
  background-color: #f0f0f0;
  text-align: center;
  position: relative;
  margin-bottom: 70px;
}

.delivery-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  padding: 40px 125px;
}

.delivery-button::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 102px;
  left: 0;
  top: 0;
  background-color: #FFE17F;
  background-image: url("../images/delivery-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.delivery-button::after {
  content: "i";
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: none;
  position: absolute;
  top: 30px;
  right: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
  padding: 16px 17px 14px 19px;
}

.delivery-button:hover::before {
  background-color: #FFC700;
}

.delivery-button:hover::after {
  color: rgba(0, 0, 0, 1);
}

.delivery-button:active {
  opacity: 0.3;
}

.delivery-button:focus {
  outline: 2px solid #AF4FFF;
}

.inform-block-wrapper {
  display: flex;
  margin-bottom: 70px;
}

.about {
  width: 520px;
  position: relative;
}

.inform-block-title {
  margin: 48px 0;
}

.inform-block-title::before {
  content: "";
  width: 84px;
  height: 7px;
  position: absolute;
  top: 0;
  background-color: #000000;

}

.about p,
.contacts p {
  margin: 0;
  margin-bottom: 30px;
  margin-right: 23px;
}

.about-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;

}

.about-item {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  padding-left: 34px;
  padding-bottom: 19px;
  background-image: url("../images/about-list-icon.svg");
  background-repeat: no-repeat;
  background-position: left 7px;
}

.about-link {
  display: block;
  width: 270px;
  padding: 10px 6px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.about-link::after {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  left: 0;
  top: 17px;
  z-index: -1;
}

.about-link:hover {
  opacity: 1;
  background-color: #FFE17F;
}

.about-link:active {
  opacity: 1;
  background-color: #FFCC33;
}

.contacts {
  width: 532px;
  margin-left: 108px;
  position: relative;
}

.contacts-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.contacts-text, .contacts-phone {
  font-style: normal;
  color: #444444;
}

address .contacts-text {
  margin-bottom: 0;
}

.contacts-adress {
  margin-bottom: 30px;
}

.contacts-link {
  display: block;
  width: 259px;
  padding: 10px 6px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.contacts-link::after {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  left: 0;
  top: 17px;
  z-index: -1;
}

.contacts-link:hover {
  opacity: 1;
  background-color: #FFE17F;
}

.contacts-link:active {
  opacity: 1;
  background-color: #FFCC33;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.subscribe-wrapper p {
  width: 560px;
  margin-left: 250px;
  margin-top: 74px;
}

.subscribe-wrapper h2 {
  width: 350px;
  margin-top: 64px;
}

.subscribe-form {
  width: 100%;
  margin-top: 144px;
  margin-bottom: 56px;
  display: flex;
}

.subscribe-form > span {
  align-self: center;
  margin-left:auto;
  padding-left: 32px;
  background-image: url("../images/subscribe-icon.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 14px;
}

.subscribe-form input {
  width: 557px;
}

.subscribe-button {
  cursor: pointer;
  padding: 18px 39px;
  border: 3px solid #cecece;
  box-sizing: border-box;
}

.subscribe-button:hover {
  border: 3px solid #000000;
}

.subscribe-button:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.subscribe-button:focus {
  outline: 2px solid #AF4FFF;
}

footer {
  background-color: #444444;
  color: #ffffff;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.left-column {
  width: 239px;
  margin-top: 72px;
}

.footer-contacts-logo {
  margin-bottom: 30px;
}

.footer-adress {
  position: relative;
}

.footer-adress::after {
  content: "";
  width: 80px;
  height: 7px;
  position: absolute;
  top: 200px;
  background-color: #ffc500;
}

.footer-adress-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 148px;
}

.center-column {
  text-align: center;
  margin-left: 112px;
  margin-top: 140px;
  width: 445px;
}

.footer-navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 62px;
}

.footer-navigation-item {
  padding-right: 35px;
}

.footer-adress-text {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.footer-navigation-link {
  color: inherit;
  padding-bottom: 4px;
}

.footer-navigation-link:hover {
  color: #FFC700;
  border-bottom: 2px solid #ffc700;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  margin-right: 15px;

}

.social-button {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.social-button:hover {
  background-color: #ffc700;
}

.social-button:active path {
  fill: rgba(68, 68, 68, 0.3);
}

.social-button:focus {
  outline: 2px solid #AF4FFF;
}

.right-column {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 175px;
  margin-top: 140px;
}

.footer-phone {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: inherit;
  margin-bottom: 62px;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-phone:focus {
  outline: 2px solid #AF4FFF;
}

.htmlacademy-link {
  margin-left: auto;
}

.htmlacademy-icon:hover path  {
  fill: #ffffff;
}

.htmlacademy-icon:active path  {
  opacity: 0.3;
}

.htmlacademy-link:focus  {
  outline: 2px solid #AF4FFF;
}

.inner-header {
  width: 1040px;
  margin: 0 auto;
}

.inner-title {
  margin-top: 35px;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  padding-right: 36px;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.catalog-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-products {
  background-color: #f0f0f0;
  padding-top: 25px;

}

.catalog-products h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter {
  width: 200px;
  margin-left: 60px;
}

.filter-title {
  margin-top: 0;
  margin-bottom: 60px;
}

.sort-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-left: 40px;
}

.catalog-filter-group {
  margin-bottom: 35px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
}

.control {
  font-size: 16px;
  line-height: 18px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}

.catalog-right-column {
  width: 840px;
  margin-left: 60px;
}

.sort-button-wrapper {
  width: 60px;
  margin-right: 40px;
}

.products {
  background-color: #ffffff;
  padding: 70px 40px;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 44px;
  margin-bottom: 44px;
}

.products-item-wrapper {
  display: flex;
  align-items: baseline;
}

.products-image {
  margin-bottom: 32px;
}

.products-item a {
  text-decoration: none;
  color: inherit;
}
.products-title {
  line-height: 20px;
  display: block;
  width: 226px;
  margin-top: 0;
}

.products-price {
  line-height: 21px;
  color: #444444;
  margin-left: auto;
}

.more-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 3px solid #E5E5E5;
  background-color: #ffffff;
  width: 760px;
  padding: 18px;
  text-align: center;
  margin-bottom: 44px;
}

.pagination {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
}

.pagination > a {
  text-decoration: none;
  padding: 25px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.pagination-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  padding: 10px;
}
